body {
  padding: 2rem;
  background-color: #709ec2;
}

.boldness {
  font-weight: bolder;
}

.form-control {
  background-color: #c9dbe8;
  border-radius: 10px;
}

p {
  color: black;
}

#helpBlock {
  background-color: lemonchiffon;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  padding-left: 2rem;
}

.form-container {
  background-color: azure;
  padding: 2rem;
}
